.poster {
  border-radius: 5px;
  width: 100%;
}

h1 {
  padding: 0;
  margin: 0;
}

.overview {
  font-size: 16px;
}

@media (min-width: 576px) {
  .flex {
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 20px;
  }
  .poster {
    width: 100%;
  }
}

@media (min-width: 769px) {
  .flex {
    grid-template-columns: 35% 65%;
  }
}
