<!-- <p-galleria
  [(value)]="films"
  [containerStyle]="{ 'max-width': 'calc(100%)' }"
  [showItemNavigators]="true"
  [transitionInterval]="5000"
  [showThumbnails]="false"
  [autoPlay]="true"
  [numVisible]="6"
>
  <ng-template pTemplate="item" let-item>
    <img [src]="route + item.backdrop_path" style="max-width: 100%" />
  </ng-template>
  <ng-template pTemplate="caption" let-item>
      <h4 style="margin-bottom: 0.5rem; color: #ffffff">
        {{ item.title }}
      </h4>
      <p>{{ item.overview | slice: 0:130 }}</p>
  </ng-template>
</p-galleria> -->

<div class="swiper-container animate__animated animate__fadeIn">
  <div class="swiper-wrapper">
    <div
      *ngFor="let film of films$ | async"
      class="swiper-slide"
      [ngStyle]="{
        'background-size': 'cover',
        'background-image': 'url(' + routeFilm + film.backdrop_path + ')',
        'background-repeat': 'no-repeat',
        'background-position': 'center'
      }"
      (click)="navigateFilm(film)"
    >
      <div class="film-description">
        <h2 class="text-white">{{ film.title }}</h2>
        <p class="text-white">{{ film.overview | slice: 0:150 }}...</p>
      </div>
    </div>
  </div>
  <div class="swiper-pagination"></div>
  <div (click)="onSlideNext()" class="swiper-button-next"></div>
  <div (click)="onSlidePrev()" class="swiper-button-prev"></div>
</div>
