<div class="m-4 animate__animated animate__fadeIn">

  <button
    pButton
    pRipple
    type="button"
    icon="pi pi-arrow-left"
    class="p-button-rounded p-button-outlined mb-3"
    (click)="backPage()"
  ></button>

  <div *ngIf="film$ | async as film" class="grid gap-3">
    <div class="col-12 md:col-4">
      <img
        width="100%"
        class="shadow-5 poster"
        [src]="film.poster_path | poster : false"
        [alt]="film.title"
        loading="lazy"
      />
    </div>

    <div class="col-12 md:col-7">
      <p-tabView>
        <p-tabPanel header="Información" leftIcon="pi pi-info-circle">
          <app-start-rating [film]="film"></app-start-rating>
        </p-tabPanel>

        <p-tabPanel header="Casting" leftIcon="pi pi-users">
          <app-grid-cast *ngIf="cast$ | async as cast" [cast]="cast"></app-grid-cast>
        </p-tabPanel>

        <p-tabPanel header="Trailer" leftIcon="pi pi-youtube">
          <app-youtube-player *ngIf="trailer$ | async as trailer" [trailer]="trailer[0]"></app-youtube-player>
        </p-tabPanel>
      </p-tabView>
    </div>
  </div>
</div>
