.swiper-container {
  height: 400px;
  width: 100vw;
}

.swiper-button-prev,
.swiper-button-next {
  color: #fff;
}

@media(min-width: 798px) {
  .swiper-slide {
    background-position: 0px -100px !important;
  }
  .swiper-container {
    width: calc(100vw - 20px);
  }
}

.film-description {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  padding: 5px 30px;
  bottom: 0;
  width: 100vw;
}
