<div (click)="viewMoreDetails(film)" class="">
  <img
    class="poster shadow-5 border-round-lg"
    width="100%"
    [lazyLoad]="film.poster_path | poster"
    alt="{{ film.title }}"
    loading="lazy"
    src=""
  />
  <h3>{{ film.title }}</h3>

  <div class="flex justify-content-between">
    <star-rating
      [value]="voteAverage"
      totalstars="5"
      checkedcolor="yellow"
      uncheckedcolor="grey"
      size="14px"
      readonly="false"
    ></star-rating>

    <span>{{ voteAverage | number: "1.1-2" }}</span>
  </div>
</div>
