.list-films {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 150px), 1fr));
  max-width: 1200px;
  margin: 30px auto 0;
  padding: 1rem;
}

@media (min-width: 769px) {
  .list-films {
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 200px), 1fr));
  }
}

.poster {
  border-radius: 10px;
  text-align: center;
}

img.ng-lazyloaded {
  animation: fadein 0.5s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
