body {
  font-family: 'Raleway', sans-serif;
  background-color: #17212f;
  color: #e6e6e6;
  margin: 0;
}

.container {
  max-width: 1200px;
  padding: 20px;
  margin: 0px auto;
}

.p-menubar {
  z-index: 99;
  position: absolute;
  left: 0;
  right: 0;
  padding: 20px 20px !important;
  border: none !important;
  box-shadow: 0 2px 12px 0 rgb(0 0 0 / 15%) !important;
}
