.margin-top {
  margin-top: 100px;
  padding: 0;
}

:host ::ng-deep .custom-scrolltop {
  width: 2rem;
  height: 2rem;
  border-radius: 4px;
  background-color: var(--primary-color);
  opacity: .5 !important;

  &:hover {
    background-color: var(--primary-color);
    opacity: .8 !important;
  }

  .p-scrolltop-icon {
    font-size: 1rem;
    color: var(--primary-color-text);
  }
}
